<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/blog">
        <img src="../../../assets/img/ign.png" width="200" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navarbarSupportedContent"
        aria-expanded="false"
        aria-label="Toogle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navarbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/new">Form</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
