<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Titulo input -->
  <div class="form-outline mb-4">
    <input
      type="text"
      id="form4Example1"
      class="form-control form-group"
      placeholder="Titulo"
      formControlName="titulo"
    />
  </div>

  <!-- Autor input -->
  <div class="form-outline mb-4">
    <input
      type="text"
      id="form4Example1"
      class="form-control form-group"
      placeholder="Autor"
      formControlName="autor"
    />
  </div>
  <!-- Fecha input -->
  <div class="form-outline mb-4">
    <input
      type="text"
      id="form4Example1"
      class="form-control form-group"
      placeholder="Fecha"
      formControlName="fecha"
    />
  </div>

  <!-- Img input -->
  <div class="form-outline mb-4">
    <input
      type="email"
      id="form4Example2"
      class="form-control form-group"
      placeholder="Imagen URL"
      formControlName="imagen"
    />
  </div>

  <!-- Texto input -->
  <div class="form-outline mb-4">
    <textarea
      class="form-control form-group"
      id="form4Example3"
      rows="4"
      placeholder="Texto"
      formControlName="texto"
    ></textarea>
  </div>

  <!-- categories -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01"
        >Categories</label
      >
    </div>
    <select
      class="custom-select"
      id="inputGroupSelect01"
      id="selectCategoria"
      formControlName="categoria"
    >
      <option value="all">All</option>
      <option [value]="category" *ngFor="let category of categories">
        {{ category }}
      </option>
    </select>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
</form>
